body{
    /* background-color: rgb(248 250 252);	 */
    background: url(/images/background3.jpg) no-repeat center center fixed; 
    background-size: cover;
    color: white !important;
    font-size: 20px !important;
}
.login-form{
    margin-top: 80px;
}
.login-form .card{
    padding: 20px;
    /* background-color: #fbfbfd; */
    background-color: rgba(0,0,0, 0.39);
    border-radius: 15px;
    box-shadow: 1px 2px 15px 3px white;
}
.title {
    background-color: rgba(0,0,0, 0.39);
    box-shadow: 1px 2px 15px 3px white;
}